html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', arial, sans-serif;
  color: #666;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 45px;
  border-color: #eee;
}
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}
.form-control:focus {
  border-color: #e1e1e1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea,
select {
  appearance: none;
  /* for mobile safari */
  -webkit-appearance: none;
}

#topcontrol {
  background: #1F497D;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  z-index: 30;
}
#topcontrol:hover {
  background: white;
    color: #1F497D;
    border: 1px solid #1F497D;
}
#topcontrol .fa {
  position: relative;
  top: 3px;
  font-size: 25px;
}

/* ======= Header ======= */
.header {
  padding-top: 10px;
  padding-bottom: 10px;
    background-color:#1F497D;
}

/* ====== Nav ======= */
.navbar-toggle {
  margin-right: 0;
  margin-top: 0;
  background: none;
  position: relative;
}
.navbar-toggle:focus {
  outline: none;
}
.navbar-toggle .toggle-title {
  display: inline-block;
  float: left;
  color:white;
  margin-right: 10px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: -1px;
}
.navbar-toggle .icon-bar-wrapper {
  float: left;
}
.navbar-toggle .icon-bar {
  background-color:white;
  height: 3px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.navbar-toggle:hover .icon-bar {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

/* Navigation brand logo */
.navbar-brand {
    padding-top: 0;
}
.navbar-logo img {
    height: 50px;
    padding-top: 0px;
}

.navbar-nav {
  display: inline-block;
}
.nav > li > a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
    font-family: Oswald;
    
}
.nav > li > a:focus,
.nav > li > a:hover {
  background: none;
  color: #fff;
  outline: none;
}
.nav > li.active > a {
  color:white;
  text-decoration: underline;
    font-weight: 700;
}


/* ======= Hero Section ======= */
.hero-section {
  position: relative;
  background-color: #1F497D;
    height: 100%;
}

#particlejs{width:100%;height:100%;}

.hero-content{position: absolute; top: 40%;width:100%;}
.text-align-center{text-align:center;}

.text-light{font-weight:300;position:relative;z-index:1;font-family: Oswald;color: white;}
.smallheading{font-size:35px;letter-spacing:5px;}
.title-font-size{font-size:72px;font-weight:100;}

@media screen and (max-width: 768px) {
    
    .title-font-size{font-size:40px;font-weight:400;}
    .smallheading{font-size:22px;letter-spacing:5px;}
}


/* ======= Who_are_we Section ======= */
.who_are_we_section {
  padding-top: 50px;
  padding-bottom: 50px;
   background-color: white;
}

.who_are_we_section .section-title {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
  display: block;
  font-size: 60px;
  font-family: Oswald;
    color: #1F497D;
}

.who_are_we_section .who_are_we_text {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Oswald;
    font-weight: 300;
    font-size: 24px;
    text-align: justify;
}

/* ======= What_we_offer Section ======= */
#what_we_offer {
    background-color: #1F497D;
}

.what_we_offer_section {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f5f5f5;
}

.what_we_offer_section .section-title {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
  display: block;
  font-size: 60px;
  font-family: Oswald;
    color: white;
}

.what_we_offer_content h3 {
    font-family: Oswald;
    color: white;
    font-size: 40px;
    font-weight: 400;
}

.what_we_offer_content ul {
    font-family: Oswald;
    color: white;
    font-size: 26px;
    font-weight: 300;
}

/* ======= Whu_us Section ======= */

.why_us_section {
  padding-top: 50px;
  padding-bottom: 50px;
   background-color: white;
}

.why_us_section .section-title {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
  display: block;
  font-size: 60px;
  font-family: Oswald;
    color: #1F497D;
}

.why_us_section .why_us_text {
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Oswald;
    font-weight: 300;
    font-size: 24px;
    text-align: justify;
}



/* ======= Contact Section ======= */
.contact-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f5f5f5;
}

.contact-section .section-title {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
  display: block;
  font-size: 60px;
  font-family: Oswald;
    color: #1F497D;
}

.widget {
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: Oswald;
}
.widget .widget-title {
    font-size: 20px;
}

#reserve-form {
    font-family: Oswald;
    font-weight: 400;
}

.form-group-inner .add-padding {
  padding-left: 30px;
    border: 1px solid #ccc;
}

.form-group-inner .fa {
  position: absolute;
  left: 25px;
  top: 15px;
  color: #ccc;
}

.form-group-inner textarea {
    padding-top:10px;
}

.form-group .btn-color {
    background-color: #1F497D;
    height: 40px;
}

/* ======= Footer ======= */
.footer {
  background: #0f0f0f;
  color: rgba(255, 255, 255, 0.8);
    font-family: Oswald;
    font-weight: 300;
}
.footer-content {
  padding-top: 0px;
  padding-bottom: 0px;
}
.footer-col {
    margin-top: 20px;
  margin-bottom: 20px;
}

.footer-col .title {
  font-size: 32px;
  font-weight: 400;
  margin-top: 0;
  color: rgba(255, 255, 255, 0.8);
}

.footer-col-inner .img-footer {
    margin-top: 20px;
    margin-bottom: 0px;
    width: 141px;
    height: 40px;
}

.copyright {
    font-size: 12px;
    font-weight: 300;
}

.subscribe-form .form-control {
  height: 40px;
}
.subscribe-form .email-field {
  width: 70%;
    padding-left: 30px;
    font-weight: 400;
    height: 40px;
}
.subscribe-form .btn {
    background-color: #1F497D;
    margin-top: 0px;
    height: 40px;
    width: 25%;
}

.subscribe-form .fa {
  position: absolute;
  left: 25px;
  top: 90px;
  color: #ccc;
}

.social-icons a {
  font-size: 24px;
  display: inline-block;
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: rgba(255, 255, 255, 0.05);
  text-align: center;
  padding-top: 3px; 
}
.social-icons a:hover {
  color: #c89a41;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}